@attribute [Authorize()]
@page "/{TenantId}/Issues/{IssueId:long}"
@using TestBucket.Components.Comments
@using TestBucket.Components.Comments.Controls
@using TestBucket.Components.Issues.Layouts
@using TestBucket.Domain.Comments.Models
@layout IssuesLayout
@inject IStringLocalizer<SharedStrings> loc
@inject IssueController controller
@inject AppNavigationManager appNavigationManager
@inject NavigationManager navigationManager

@if(Project is not null && _issue is not null)
{
    <div class="container-fill">
        <IssueEditor TestProjectId="@Project.Id" IssueChanged="OnIssueChanged" Issue="@_issue" Delete="DeleteIssue"/>

    </div>
}

@code {
    [Parameter] public string TenantId { get; set; } = "";
    [Parameter] public long IssueId { get; set; }
    [CascadingParameter] public TestProject? Project { get; set; }
    [CascadingParameter] public Team? Team { get; set; }

    private LocalIssue? _issue = null;

    private async Task OnIssueChanged(LocalIssue issue)
    {
        _issue = issue;

        await controller.UpdateIssueAsync(issue);
    }

    protected override async Task OnParametersSetAsync()
    {
        if(_issue is null || _issue.Id != IssueId)
        {
            _issue = await controller.GetIssueByIdAsync(IssueId);
            appNavigationManager.State.SetSelectedIssue(_issue);
        }
    }

    private async Task DeleteIssue(LocalIssue issue)
    {
        await controller.DeleteLocalIssueAsync(issue);
    }

}
