::deep .tb-architecture-view {
    margin-top: 16px;
}

.message {
    font-weight: bold;
}

.sha {
    font-family: monospace;
    color: dodgerblue;
}

.changed-files {
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    gap: 4px;
    padding: 6px;
}

.changed-files .changes {
    padding: 2px;
    color: dodgerblue;
}
.changed-files .deletions {
    padding: 2px;
    color: red;
}

.changed-files .additions {
    padding: 2px;
    color: yellowgreen;
}