.tb-agent-chat-suggestions {
    padding: 8px;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.tb-agent-chat-suggestions ::deep .mud-paper:hover::after {
    opacity: 1;
}


.tb-agent-chat-suggestions ::deep .mud-paper::after {
    opacity: 0;
  --angle: 0deg;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px; 
  padding: 2px; 
  animation: 8s rotate linear infinite;
  transition: all linear var(--tb-animation-300);

  background: conic-gradient(from var(--angle), var(--mud-palette-primary-darken), var(--mud-palette-tertiary), var(--mud-palette-primary-darken), var(--mud-palette-secondary), var(--mud-palette-primary-darken));
  mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  mask-composite: exclude; 
}

.tb-agent-chat-suggestions ::deep .mud-paper:hover {
    background: var(--mud-palette-surface);
}

.tb-agent-chat-suggestions ::deep .mud-paper {
    position: relative;
    padding: 12px !important;
    background: var(--mud-palette-surface-lighten);
    cursor: pointer;
    transition: all linear var(--tb-animation-150);
}

.tb-agent-chat-suggestions ::deep .mud-paper > .flex-row {
    align-items: center;
}

.tb-agent-chat-suggestions,
.tb-agent-chat-conversation {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    overflow: auto;
}

.tb-agent-submit {
    border-top: solid 1px var(--mud-palette-lines-inputs);
}

.tb-agent-submit .prompt {
    background: var(--mud-palette-surface-darken);
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 48px;
    gap: 4px;
}

.tb-agent-chat .chat .author span {
    margin-left: 6px;
}

.tb-agent-chat .chat .author {

    --color: var(--mud-palette-text-primary);

    color: var(--color);
    font-size: var(--mud-typography-h5-size);
    font-weight: bold;

    display: flex;
    align-items: center;
}

.tb-agent-chat .chat {
    padding: 6px 8px;
    border: solid 1px var(--mud-palette-lines-inputs);
    --chat-background: var(--mud-palette-surface);
    background: var(--chat-background);
    border-radius: var(--mud-default-borderradius);
}

.tb-agent-chat .chat ::deep .mud-markdown-container {
    border: none;
}
.tb-agent-chat .chat ::deep .mud-markdown-container .mud-markdown-preview {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.tb-agent-chat .chat ::deep .mud-markdown-container .mud-markdown-preview p {
    margin-bottom: 4px;
}

.tb-agent-chat .chat ::deep .mud-markdown-container .mud-markdown-preview hr {
    margin-top: 24px;
    background: var(--mud-palette-text-primary);
    margin-bottom: 24px;
}

.tb-agent-chat .chat.assistant {
    align-self: flex-start;
    margin-right: 16px;
}

.tb-agent-chat {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}


.tb-agent-chat .chat.function-call {
    font-weight: bold;
}

.tb-agent-chat .chat.function-call table {
}

.tb-agent-chat .chat.function-call table td {
    padding: 2px 6px;
    border: solid 1px var(--mud-palette-lines-inputs);

}

.tb-agent-chat .chat ::deep .mud-markdown-preview {
    background: var(--chat-background);
}

.tb-agent-chat .chat.user {
    margin-left: 16px;
    align-self: flex-end;
    --chat-background: var(--mud-palette-surface-darken);
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
