html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100dvw;
    height: 100dvh;

    --mud-typography-h1-size: 22pt;
    --mud-typography-h2-size: 20pt;
    --mud-typography-h3-size: 18pt;
    --mud-typography-h4-size: 16pt;
    --mud-typography-h5-size: 14pt;
    --mud-typography-h6-size: 12pt;
}

p.mud-typography-subtitle1 {
    color: #888;
}

.mud-input>input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
    padding: 8.5px 4px;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol  {
    transform: translate(4px, 10px) scale(1);
    font-size: 8pt;
}

.dropdown-container .mud-icon-button {
    display: none;
    opacity: 0;
    transition: opacity linear 200ms;
}

.dropdown-container:hover .mud-icon-button {
    display: block;
    opacity: 1;
}

.mud-toolbar .mud-icon-button {
    color: white;
}

 .mud-toolbar .mud-input>input.mud-input-root, div.mud-input-slot.mud-input-root {
    color: white;
}

 .editor-toolbar button.active, .editor-toolbar button:hover {
     background: var(--mud-palette-primary-darken);
 }

 .mud-toolbar fieldset legend {
    color: white;
}

 .mud-treeview-item p {
     font-size: 8pt;
 }

 .mud-treeview-item-icon {
     margin-right: 2px;
     width: 24px;
 }

 .tb-read-only-field {
     opacity: 0.75;
     font-size: 75%;
 }
