:root {
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100dvw;
    height: 100dvh;

    --min-dialog-width: 35vw;

    scrollbar-color: var(--mud-palette-primary) transparent !important;

    --clr-passed: rgba(11, 186, 131, 1);
    --clr-passed-alt: rgba(0, 86, 31, 1);
    --clr-failed: rgba(246, 78, 98, 1);
    --clr-failed-alt: rgba(146, 0, 0, 1);

    --clr-blocked: rgb(250,220,80);
    --clr-blocked-alt: rgb(150,120,0);

    --clr-norun: rgb(50,50,50);
    --clr-norun-alt: rgb(150,150,150);

    --clr-skipped: rgb(150,150,150);
    --clr-skipped-alt: rgb(50,50,50);

    --mud-typography-h1-size: 20pt;
    --mud-typography-h1-weight: 600;
    --mud-typography-h1-lineheight: 1.8;

/*    --mud-typography-button-text-transform: none;*/

    --mud-typography-body1-size: 10pt;
    --mud-typography-subtitle1-size: 10pt;
    --mud-typography-default-size: 10pt;
    --mud-typography-h2-size: 20pt;
    --mud-typography-h3-size: 18pt;
    --mud-typography-h4-size: 16pt;
    --mud-typography-h5-size: 14pt;
    --mud-typography-h6-size: 12pt;
}

table {
    border-collapse: collapse;
}

.markdown-preview table {
    border: solid 1px var(--tb-palette-field-border);
}

.mud-input-control-input-container .mud-input-outlined {
}

.treeview .template {
    font-style: italic;
}

.treeview .non-draggable,
.treeview .tb-draggable,
.treeview .mud-menu {
    width: 100%;
}

.treeview span.child-count {
    opacity: 0.25;
}

.tb-passrate-text {
    font-weight: bold;
    color: var(--clr-passed);
}

.tb-fill-passed,
.result-pill.result-passed {
    background: var(--clr-passed);
    color: var(--clr-passed-alt);
    border-color: var(--clr-passed-alt);
}

.tb-fill-failed,
.result-pill.result-failed {
    background: var(--clr-failed);
    color: var(--clr-failed-alt);
    border-color: var(--clr-failed-alt);
}

.tb-fill-blocked,
.result-pill.result-blocked {
    background: var(--clr-blocked);
    color: var(--clr-blocked-alt);
    border-color: var(--clr-blocked-alt);
}

.tb-fill-skipped,
.result-pill.result-skipped {
    background: var(--clr-skipped);
    color: var(--clr-skipped-alt);
    border-color: var(--clr-skipped-alt);
}

.tb-fill-failed-norun,
.result-pill.result-norun {
    background: var(--clr-norun);
    color: var(--clr-norun-alt);
    border-color: var(--clr-norun-alt);
}
.tb-draggable:not(:has(.drag-handle)):hover {
}

.mud-badge-top.right {
    margin-left: 8px;
}

.mud-chip-content {
    overflow: hidden;
    padding-right: 2px;
}

.color-palette-cell {
    border-radius: 8px;
    width: 20px;
    height: 20px;
}

.mud-icon-button {
    border-radius: 8px;
    padding: 4px;
}

.mud-breadcrumbs .mud-breadcrumb-item {
    border-radius: var(--mud-default-borderradius);
}
.mud-breadcrumbs .mud-breadcrumb-separator  {
    padding: 0 4px;
}

.mud-breadcrumbs .mud-breadcrumb-item:hover {
    background: var(--mud-palette-primary-hover);
}

.mud-tab {
    text-transform: none;
    line-height: 1.1;
    min-height: 38px;
    border-radius: 5px;
    margin-top: 4px;
}
.mud-tabs-tabbar .mud-tabs-tabbar-inner  {
    min-height: 46px;
}

.mud-tab.mud-tab-active {
    color: var(--mud-palette-primary);
    background-color: var(--mud-palette-primary-hover);
}

.mud-tab-slider.mud-tab-slider-horizontal  {
    background: var(--mud-palette-primary);
    height: 0px;
}

.mud-picker-container [role="toolbar"] .mud-button-label {
    font-size: 10pt;
}

.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    box-shadow: -2px 0 0 var(--mud-palette-primary);
}

.mud-autocomplete:has(.tb-unified-search) {
    max-width: 250px;
}

.tb-draggable .drag-handle {
    cursor: grab;
    opacity: 0;
}
.tb-draggable:hover .drag-handle {
    opacity: 1;
}

.mud-toggle-item {
    padding: 2px 5px;
    font-size: 8pt;
}

p.mud-typography-subtitle1 {
    color: #888;
}

input:not(.mud-input-slot) {
    border: solid 1px var(--mud-palette-dark-darken);
    border-radius: 4px;
    background-color: var(--mud-palette-dark) !important;
    color: white;
    padding: 6px 8px;
    border: solid 2px transparent;
    outline: solid 2px transparent;
}

input:focus-visible {
    border: solid 2px transparent;
    outline: solid 2px var(--mud-palette-primary);
}

.mud-input>input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
    padding: 8px 4px;
    padding-bottom: 12px;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol  {
    transform: translate(4px, 10px) scale(1);
    font-size: 8pt;
}

.tb-splitter-content-start:has(.tb-navmenu) {
    background: var(--mud-palette-surface);
}

.tb-navmenu {
    width: 100%;
}

.tb-navmenu.side {
}

.dropdown-container .mud-icon-button {
    transition: background linear 200ms;
    background-color: transparent;
}

.dropdown-container:hover .mud-icon-button {
     background: var(--mud-palette-primary-hover);
}

 .editor-toolbar button.active, .editor-toolbar button:hover {
     background: var(--mud-palette-primary-darken);
 }

 .mud-toolbar fieldset legend {
    color: white;
}

 .mud-treeview-item p {
     font-size: 8pt;
 }

 .mud-treeview-item-icon {
     margin-right: 2px;
     width: 24px;
 }

 .tb-read-only-field {
 }

 .tb-write-only-field {
 }

 .file-resource-thumbnail {
     padding: 16px;
     border-radius: 4px;
     overflow: hidden;
     width: 128px;
 }

 .file-resource-thumbnail:hover {
     background: var(--mud-palette-primary-hover);
 }

 .file-resource-thumbnail .filename {
     font-size: 8pt;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 a.mud-link.mud-link-underline-hover[role='button'] {
     color: var(--mud-palette-text-primary) !important;
 }

 .tb-nav-link {
     height: 100%;
     position: relative;
     transition: all linear 150ms;
     padding: 6px;
     cursor: pointer;
     border-bottom: solid 2px transparent;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;

     display: flex;
     align-items: center;
     gap: 8px;
     padding-left: 5px;
     padding-right: 5px;
 }

 .tb-test-case-grid,
 .tb-test-case-run-grid {
     width: 100%;
     height: 100%;
     display: grid;
     grid-template-rows: auto 1fr auto;
 }

 .tb-test-case-grid > :nth-child(3),
 .tb-test-case-run-grid > :nth-child(3) {
     overflow: hidden;
 }

 article.center {
     display: flex;
     align-items: center;
     flex-direction: column;
     padding: 2rem;
     width: 100%;
 }

 article.center > * {
     max-width: 1000px;
 }

 .container-settings-page {
     padding: 8px;
     max-width: 1000px;
 }

 .tb-nav-link:hover {
    background: var(--mud-palette-primary-hover);
 }

 .tb-nav-link svg {
     opacity: 0.7;
 }
 .tb-nav-link:hover svg,
 .tb-nav-link.active svg {
     opacity: 1;
 }

 .tb-nav-link.active {
     border-color: var(--mud-palette-primary);
 }

 .tb-login-container {
     padding: 16px;
 }

 ul,
 ol {
     margin-left: 20px;
 }

 .fluent-validation-error,
 .alert-danger,
 .text-danger {
     color: var(--mud-palette-error);
 }

 .container-fill {
     width: 100%;
     max-width: 100%;
     height: 100%;
     max-height: 100%;
     overflow: hidden;
 }

  .container-fill-2-rows {
     display: grid;
     grid-template-rows: auto 1fr;
     
     width: 100%;
     max-width: 100%;
     height: 100%;
     max-height: 100%;
     overflow: hidden;
 }
  
  .container-fill-2-rows-alt {
     display: grid;
     grid-template-rows: 1fr auto;
     
     width: 100%;
     max-width: 100%;
     height: 100%;
     max-height: 100%;
     overflow: hidden;
 }
   .container-fill-2-rows-alt > div:nth-child(1) {
     overflow: auto;
 }
 .container-fill-2-rows > div:nth-child(2) {
     overflow: auto;
 }

 .container-fill-3-rows {
     display: grid;
     grid-template-rows: auto 1fr auto;
     
     width: 100%;
     max-width: 100%;
     height: 100%;
     max-height: 100%;
     overflow: hidden;
 }

.tb-field {
   background: linear-gradient(0deg, var(--tb-palette-field-background) 0%, var(--tb-palette-field-background) 90%);
   border: solid 1px var(--tb-palette-field-border);
   overflow-x: hidden;
}

.tb-field .mud-picker-inline {
    flex: unset;
}

.tb-field a {
    color: var(--mud-palette-text-primary) !important;
    font-size: 8pt;
    align-self: flex-end;
    text-decoration: none;
}
.tb-field:hover:has(.field-link) {
    background: var(--mud-palette-primary-hover);
}

.tb-field > .flex-row > .mud-icon-root {
    margin-right: 8px;
    align-self: center;
    width: 2rem;
    height: 2rem;
}

tb-field .mud-link.mud-link-underline-hover:hover {
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .tb-field .mud-link.mud-link-underline-hover:hover {
        text-decoration: none;
    }
}

 .tb-field.row > div[role="group"] .dropdown-container,
 .tb-field.row > div[role="group"] .mud-select,
 .tb-field.row > div[role="group"] .mud-input-control {
     max-width: 220px;
     min-width: 220px;
 }

 .tb-field > div[role="group"] .mud-input-control.mud-file-upload {
    max-width: 100%;
     min-width: 100%;
 }

  .tb-field > div[role="group"] .dropdown-container .mud-select {
     max-width: unset;
     min-width: unset;
  }
 
 .container-fill-3-rows > div:nth-child(2) {
     overflow: auto;
 }
 .tb-toolbar {
     background: var(--mud-palette-surface);
     color: var(--mud-palette-text-primary);
 }

.tb-toolbar.main {
     background: var(--mud-palette-surface);
     border: none;
}

.tb-toolbar.environment-variable-toolbar {
     padding-left: 0px;
}

table.tb-environment-variables {
}

 input.form-control {
     padding: 4px;

 }

 .treeview {
 }

 .treeview .node {
     padding: 0;
     overflow: hidden;
     font-size: var(--mud-typography-default-size);
     margin-left: 12px;
     position: relative;
}

 .treeview > .node  {
     margin-left: 0px;
 }

    .treeview .node .body {
        min-height: 32px;

        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;

        background-color: rgba(0,0,0,0);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,padding 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

.tb-command-menu-item {
    border-left: solid 2px transparent;
    transition: border-left-color linear 150ms;
}

.tb-button-primary,
.tb-button-new {
    background: transparent;
    border: solid 2px var(--mud-palette-primary-darken);
    text-transform: none;
}

.tb-button-new:hover {
    border-color: var(--mud-palette-primary);
}

.tb-button-delete {
    background: transparent;
    border: solid 2px var(--mud-palette-error-darken);
    text-transform: none;
}

.tb-button-delete:hover {
    border-color: var(--mud-palette-error);
}

.tb-blur-overlay {
     backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.tb-command-menu-item .description {
    font-size: 8pt;
    opacity: 0.75;
}

.tb-command-menu-item:hover,
.tb-command-menu-item.selected {
    border-left-color: var(--mud-palette-primary);

    color: var(--mud-palette-primary);
    background: var(--mud-palette-primary-hover);
}

.tb-command-palette .tb-keyboard-shortcut {
    opacity: 0.5;
    transition: opacity ease-in-out 200ms;
    cursor: pointer;
}

.tb-command-palette:hover .tb-keyboard-shortcut {
    opacity: 1;
}

.tb-datarow-selected,
.tb-navmenu-selected,
.mud-table-root .mud-table-body .tb-datarow-selected .mud-table-cell,
.treeview .node.selected > .body {
    color: var(--mud-palette-primary);
    background: var(--mud-palette-primary-hover);
    animation: ItemHoverAnimation 300ms linear forwards;
}

.mud-table-root .mud-table-body .mud-table-cell {
    overflow: hidden;
}

.mud-table-cell {
    font-size: 10pt;
}

.tb-data-grid-verydense .mud-table-cell {
    font-size: 8pt;
}

.tb-background-hover {
    border: 1px solid transparent;
}

.tb-trace-view .tb-traceability-node-link-wrapper:hover,
.tb-background-hover:hover,
.tb-datarow:hover,
.tb-datarow-selected:hover { 
    /* Glass style */
    background: rgba(255, 255, 255, 0.2);

    background: linear-gradient(270deg, #ffffff4f, #ffffff00);
    background-size: 400% 400%;
    background-position: 20% 50%;
 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.05);
}


@keyframes ItemHoverAnimation {
    20%{background-position:20% 50%}
    40%{background-position:80% 50%}
   100%{background-position:50% 50%}

}

.treeview .node > .body:hover {
    background-color: var(--mud-palette-action-default-hover);
}

 .treeview .node .toggle {
     width: 24px;
     height: 24px;
     display: grid;
     align-items: center;
     justify-content: center;
 }

 .treeview .node .icon > svg {
     width: 24px;
     height: 24px;
 }

 .treeview .node .icon {
    margin-right: 4px;
    width: 24px;     
    height: 24px;

    display: grid;
    align-items: center;
    justify-content: center;

    fill: currentColor;
 }

.tb-treeview-toolbar,
.tb-toolbar.mud-toolbar {
    --mud-internal-toolbar-height: 44px;
    height: var(--mud-internal-toolbar-height);
}

 @media (min-width: 600px) {
    .tb-toolbar.mud-toolbar {
        --mud-internal-toolbar-height: 44px;
    }
}

 .mud-dialog .mud-dialog-title,
 .mud-dialog-title h6.mud-typography.mud-typography-h6 {
     font-size: 14pt;
 }

 .mud-dialog {
     border: solid 1px var(--mud-palette-lines-inputs);
     border-radius: var(--mud-default-borderradius);
 }

.splitter {
    display: grid;

    --bar-size: 6px;
}

.tb-splitter-bar {
    display: flex;
    background: transparent;    
}

.tb-splitter-bar-fill {
    background: var(--mud-palette-lines-inputs, rgba(255,255,255,0.2));
}

.splitter > .tb-splitter-content-start,
.splitter > .tb-splitter-content-end {
    overflow: auto;
}

.splitter.vertical  > .tb-splitter-bar > .tb-splitter-bar-fill {
    width: 100%;
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.splitter.horizontal  > .tb-splitter-bar > .tb-splitter-bar-fill {
    width: 1px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.splitter.vertical > .tb-splitter-bar {
    cursor: row-resize;
    height: var(--bar-size, 5px);
}

.splitter.horizontal > .tb-splitter-bar {
    cursor: col-resize;
    width: var(--bar-size, 5px);
}


.settings-radio-lg .mud-radio > span {
    display:none;
}

.settings-radio-lg {
    border: solid 2px transparent;
    padding: 12px;
    border-radius: 8px;
}

.settings-radio-lg p svg {
    margin-right: 8px;
}

.settings-radio-lg p {
    display: flex;
    align-items: center;
}

.settings-radio-lg:hover {
    background: var(--mud-palette-primary-hover);
}

.settings-radio-lg:has(.mud-radio .mud-checked) {
    border-color: var(--mud-palette-primary);
    color: var(--mud-palette-primary);
}

.tb-result-summary-bar {
    display: flex;

    height: 20px;

    border: solid 1px rgba(128,128,128,0.3);
    --border-radius: 2px;
}

.tb-result-summary-bar > :first-child {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.tb-result-summary-bar > :last-child {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.tb-result-summary-bar > * {
    height: 100%;
    overflow: hidden;
    font-size: 8pt;
    padding-left: 4px;
    display: flex;
    align-items: center;
}

.tb-key {
    display: grid;
    place-items: center;
    font-size: 7pt;
    padding: 2px;
    color: #444;    
    min-width: 20px;
    background: #ccc;
    border: solid 1px #777;
    border-radius: 3px;
    border-bottom-width: 3px;
    font-weight: bold;
}

.tb-key.tb-mod-key {
    color: #222;
}

.mud-checkbox > span.mud-icon-button {
    padding: 2px;
}

.tb-field-header {
    font-size: var(--mud-typography-caption-size); 
    margin: 0; 
    text-decoration: none;
    margin-right: 5px;
}

.tb-field-header:has(.mud-svg-icon) {
    display: flex;
    align-items: center;
}

.tb-field-header .mud-svg-icon {
    margin-right: 8px;
}

.tb-field .mud-grid-item:has(.mud-checkbox) {
    margin-top: 8px;
}

.tb-field-description {
    font-size: 9pt; 
    margin-top: 8px; 
    color: #666;
    text-decoration: none;
    text-align: end;
}

table {
    width: 100%;
    background: var(--mud-palette-surface);
    padding: 8px;
    border-radius: 4px;
    table-layout : fixed;
}

table thead tr th,
table tbody tr td {
    padding: 4px;
    text-align: left;
}

.result-color-highlight {
    min-width: 12px;
    max-width: 12px;
    height: 12px;
    border-radius: 100%;
}
.result-color-highlight.passed {
    background: var(--clr-passed);
}
.result-color-highlight.failed {
    background: var(--clr-failed);
}
.result-color-highlight.blocked {
    background: var(--clr-blocked);
}
.result-color-highlight.norun {
    background: var(--clr-norun);
}
.result-color-highlight.skipped {
    background: var(--clr-skipped);
}

.tb-integration-title > * {
    margin: 0;
}

.tb-field-template {
    padding: 1rem;
    cursor: pointer;
}

.tb-profile-image {
    aspect-ratio: 1;
    min-width: 32px;
    max-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.tb-profile-image.lg {
    min-width: 64px;
    max-width: 64px;
    width: 64px;
    height: 64px;
}
.tb-profile-image.sm {
    font-size: 8pt;
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    height: 16px;
}

.tb-toolbar  img.tb-profile-image.tb-avatar-generic,
.tb-toolbar  div.tb-profile-image.tb-avatar-generic {
    border-bottom: solid 2px transparent;
    margin-right: 1rem;
}

img.tb-profile-image.tb-avatar-generic,
div.tb-profile-image.tb-avatar-generic {
    border-radius: 10px;
    font-size: 12pt;
}

img.tb-profile-image.tb-avatar-generic:hover {
    background: rgba(128,128,128,0.1);
}

.result-pill {
    font-size: 8pt;
    padding: 4px;
    border-radius: 4px;
    min-width: 80px;
    border: solid 1px transparent;
}

.result-pill:hover,
.tb-avatar-generic {
    background: rgba(128,128,128,0.1);
    border: solid 1px rgba(128,128,128,0.1);
}

div.tb-profile-image {
    display: none;
    font-size: 16pt;
    font-weight: bold;
    display: grid;
    place-items: center;
}

img.tb-profile-image.image-load-error {
    display: none;
}

div.tb-profile-image {
    display: none;
}
div.tb-profile-image.force-visible,
div.tb-profile-image.image-load-error {
    display: grid;
}

div.tb-profile-image.tb-background-0,
div.tb-profile-image.tb-background-1,
div.tb-profile-image.tb-background-2,
div.tb-profile-image.tb-background-3,
div.tb-profile-image.tb-background-4,
div.tb-profile-image.tb-background-5,
div.tb-profile-image.tb-background-6,
div.tb-profile-image.tb-background-7,
div.tb-profile-image.tb-background-8,
div.tb-profile-image.tb-background-9 {
    background: var(--mud-palette-primary);

}


.permission-level-abbr {
    gap: 4px;
}
.permission-level-abbr > * {
    color: indianred;
    border-radius: 2px;
    border: solid 1px indianred;
    opacity: 0.5;
    padding: 3px;
}
.permission-level-abbr > *.yes {
    opacity: 1;
    border-color: yellowgreen;
    font-weight: bold;
    background: yellowgreen;
    color: black;
}

.tb-minmax-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 4px;
}

.tb-minmax-grid.sm {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.tb-card-grid,
.tb-card-picker-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 4px;
}

.tb-card-picker-grid {
    width: 60vw;
}

.tb-card-grid {
    width: 100%;
}

.tb-card-grid .tb-card .title,
.tb-card-picker-grid .tb-project-card .name {
    font-size: 150%;
}
.tb-card-picker-grid .tb-project-card .counters {
    gap: 4px;
    color: var(--mud-palette-primary);
}

.tb-card-grid > div,
.tb-card-picker-grid > div {
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.tb-card-grid > div:hover,
.tb-card-picker-grid > div:hover {
    /* Glass style */
    background: rgba(255, 255, 255, 0.2);

    background: linear-gradient(270deg, #ffffff4f, #ffffff00);
    background-size: 400% 400%;
    background-position: 20% 50%;
 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.05);

    animation: ItemHoverAnimation 300ms linear forwards;
}

/* Chart container, metrics, */
.tb-tile {
    padding: 24px;
    border: solid 1px var(--mud-palette-lines-inputs);
    background: var(--mud-palette-surface);
}

.tb-tile .tb-tile-numeric-value {
    font-size: 36pt;
    flex: 1;
}

/*,.tb-tile:hover .mud-toggle-group */
.tb-tile:hover [data-testid="edit"] {
    opacity: 1;
}

.tb-tile .mud-toggle-group, 
.tb-tile [data-testid="edit"] {
    opacity: 0;
    transition: opacity linear 150ms;
}

.tb-trace-view {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 16px;
    align-items: center;
    width: 100%;
    padding: 4px;
    border: solid 1px var(--tb-palette-field-border);
}

.tb-trace-view > * {
    display: flex; 
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    overflow: hidden;
}

.tb-trace-view .tb-trace-deps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.tb-trace-view .tb-trace-deps .tb-trace-deps {
    display: flex;
    flex-direction: column;
}

.tb-trace-view > .center > .tb-traceability-node-link-wrapper {
    border: solid 1px var(--mud-palette-primary);
}

.tb-trace-view .tb-traceability-node-link-wrapper {
    background: var(--mud-palette-surface);
    padding: 4px;
    border-radius: 4px;
    border: solid 1px transparent;
    height: 100%;
    display: flex;
    align-items: center;
}

.resource-group .node-border {
    opacity: 0.5;
}
.resource-group:hover .node-border {
    opacity: 1;
}

.resource-scale .node-background {
    fill: var(--mud-palette-tertiary-darken);
    cursor: pointer;
}
.resource-scale .node-background.requirement {
    fill: var(--mud-palette-primary-darken);
}
.resource-scale .node-background.testcase {
    fill: var(--mud-palette-secondary-darken);
}

.resource-group:hover .node-background.testcase {
    fill: var(--mud-palette-secondary);
}

.resource-group:hover .node-background.requirement {
    fill: var(--mud-palette-primary);
}

.resource-group .node-icon {
    pointer-events: none;
}

/*.resource-group-hover  .node-background.requirement {
    fill: red;
}*/

.mud-markdown-editor-root.mud-input-outlined.mud-markdown-editor-root-preview:has(.tb-test-description),
.mud-markdown-editor-root.mud-input-outlined.mud-markdown-editor-root-preview:has(.tb-requirement-description),
.mud-markdown-editor-root.mud-input-outlined.mud-markdown-editor-root-preview:has(.tb-issue-description) {
    border: solid 1px var(--mud-palette-lines-inputs);
}

.mud-markdown-editor-root.mud-input-outlined.mud-markdown-editor-root-preview:has(.tb-test-description) .mud-markdown-preview,
.mud-markdown-editor-root.mud-input-outlined.mud-markdown-editor-root-preview:has(.tb-requirement-description) .mud-markdown-preview,
.mud-markdown-editor-root.mud-input-outlined.mud-markdown-editor-root-preview:has(.tb-issue-description) .mud-markdown-preview {
    padding: 16px;
}

.tb-edit-requirement-dialog .EasyMDEContainer {
    height: 100%;
}

.default-search {
    width: max(15vw, 50px);
}

.default-search .mud-input-outlined {
    background: var(--tb-palette-input-search-background);
    border-radius: var(--mud-default-borderradius);
}

.default-search:hover  .mud-input-outlined {
    background: var(--tb-palette-input-search-background-hover, rgba(0,0,0,0.2));
}

.tb-run-main-charts {
    margin-top: 8px;
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap: 8px;
}
.tb-issues-charts {
    width: 100%;
    margin-top: 8px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px;
}

.tb-chart-skeleton,
.tb-chart {
    height: 5vh; 
    min-height: 300px !important;
    overflow: hidden;
}

.dock-toggle.mud-icon-button {
    transition: transform ease-in-out 300ms;
}

.tb-insights-chart {
    height: 100%;
}

.tb-insights-chart .tb-chart {
    flex: 1;
}

.tb-insights-chart .legend {
    margin-top: 16px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: var(--mud-typography-subtitle2-size);
    border: solid 1px var(--mud-palette-lines-inputs);
    border-radius: var(--mud-default-borderradius);
}

.tb-insights-chart .legend .item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tb-insights-chart .tb-insights-table {
    margin-top: 16px;
    border: solid 1px var(--mud-palette-lines-inputs);
}

.tb-insights-chart .mud-table-root .mud-table-body .mud-table-cell,
.tb-insights-chart .mud-table-root .mud-table-head .mud-table-cell {
    padding: 4px;
    font-size: 8pt;
}

.tb-insights-chart .mud-table-root .mud-table-head th.mud-table-cell {
    font-weight: bold;
}

.tb-insights-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 8px;
}

.tb-insights-chart-text.value {
    font-size: 40pt;
    padding-top: 32px;
}
.tb-insights-chart-text.label {
    font-size: 8pt;
    padding-bottom: 32px;
}

.tb-insights-heatmap {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 4px;
    column-gap: 16px;
}

.tb-insights-heatmap .values {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    align-items: center;
}

.tb-insights-heatmap .item {
    font-size: 7pt;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.tb-progress-overlay {
    position: absolute; 
    right: 50px; 
    bottom: 50px; 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
    z-index: 100; 
    width: 20vw;
    overflow: hidden;
}

.tb-http-api-checks-datagrid {
    border: solid 1px var(--mud-palette-lines-inputs);
}

.tb-http-api-checks-datagrid tr.success {
    background: rgba(100,255,100, 0.15);
}
.tb-http-api-checks-datagrid tr.error {
    background: rgba(255,100,100, 0.15);
}

.tb-dialog-tall {
    min-width: 35vw;
    min-height: 75vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.tb-dialog-tall .mud-focus-trap-child-container  {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto;
}