html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100dvw;
    height: 100dvh;
}

.mud-input>input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
    padding: 8.5px 4px;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol  {
    transform: translate(4px, 10px) scale(1);
    font-size: 8pt;
}