@using System.Net
@using TestBucket.Contracts.Appearance.Models
@using TestBucket.Domain.Automation.Pipelines.Models
@using TestBucket.Domain.Testing.TestRuns.Search
@using TestBucket.Domain.Testing.TestCases.Search;
@inherits LayoutComponentBase
@layout AppLayout
@inject TestBrowser browser
@inject TestCaseEditorController testCaseEditor
@inject NavigationManager navigationManager
@inject AppNavigationManager appNavigationManager
@inject IStringLocalizer<SharedStrings> loc
@inject UserPreferencesService preferencesController

<TenantRedirect />

<Splitter Style="height: 100%" Dock="_dock" Bordered="false" Dimension="20" EnableMargin="false" Color="Color.Tertiary">
    <StartContent>
        <div class="tb-navmenu side">
            <TestTreeView @ref="_testTreeView"
                          Project="@_project" 
                          Team="@_team"
                          OnTestRepositoryClicked="OnTestRepositoryClicked"
                          OnTestLabClicked="OnTestLabClicked"
                          OnOtherClicked="OnOtherClicked"
                          OnTestLabFolderClicked="OnTestLabFolderClicked"
                          OnTestRepositoryFolderClicked="OnTestRepositoryFolderClicked"
                          OnPipelineClicked="OnPipelineClicked"
                          OnTestRunTestsFolderClicked="OnTestRunTestsFolderClicked"
                          OnFolderClicked="OnFolderClicked" 
                          OnTestSuiteClicked="OnTestSuiteClicked" 
                          OnTestCaseClicked="OnTestCaseClicked" 
                          OnTestRunClicked="OnTestRunClicked" />
        </div>
    </StartContent>

    <EndContent>
        <CascadingValue Value="@_testCase">
            @Body
        </CascadingValue>
    </EndContent>
</Splitter>

@code {
    [CascadingParameter] TestProject? Project { get; set; }
    [CascadingParameter] Team? Team { get; set; }

    private TestCase? _testCase;

    private Team? _team;
    private TestProject? _project;
    private TestTreeView? _testTreeView;
    private Dock _dock = Dock.Left;

    protected override async Task OnInitializedAsync()
    {
        var userPreferences = await preferencesController.GetUserPreferencesAsync();
        _dock = userPreferences?.ExplorerDock ?? Dock.Left;
    }
    protected override async Task OnParametersSetAsync()
    {
        if (_project != Project || _team != Team)
        {
            _project = Project;
            _team = Team;
        }
        _testCase = appNavigationManager.State.SelectedTestCase;
        var testCaseId = appNavigationManager.GetEntityIdFromCurrentUri();
        if (testCaseId != _testCase?.Id && testCaseId is not null)
        {
            _testCase = await browser.GetTestCaseByIdAsync(testCaseId.Value);
        }
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        appNavigationManager.State.TestTreeView = _testTreeView;
        return base.OnAfterRenderAsync(firstRender);
    }

    private void OnTestCaseClicked(TestCase test)
    {
        appNavigationManager.State.SetSelectedTestCase(test);
        appNavigationManager.NavigateTo(test);
    }
    private void OnTestSuiteClicked(TestSuite suite)
    {
        appNavigationManager.NavigateTo(suite);
    }

    private void OnTestLabClicked()
    {
        appNavigationManager.State.SelectTestLab();
    }
    private void OnTestRepositoryClicked()
    {
        appNavigationManager.State.SelectTestRepository();
    }

    private void OnOtherClicked()
    {
        appNavigationManager.State.ClearSelection();
    }
    private void OnTestRepositoryFolderClicked(TestRepositoryFolder folder)
    {
        appNavigationManager.State.SetSelectedTestRepositoryFolder(folder);        
    }
    private void OnTestLabFolderClicked(TestLabFolder folder)
    {
        appNavigationManager.State.SetSelectedTestLabFolder(folder);        
    }

    private void OnPipelineClicked(Pipeline pipeline)
    {
        appNavigationManager.NavigateTo(pipeline);
    }

    private void OnTestRunTestsFolderClicked(TestRun run)
    {
        var url = appNavigationManager.GetUrl(run) + "/Tests";
        navigationManager.NavigateTo(url);
    }

    private void OnFolderClicked(TestSuiteFolder folder)
    {
        appNavigationManager.State.SetSelectedTestSuiteFolder(folder);
        appNavigationManager.NavigateTo(folder);
    }
    private void OnTestRunClicked(TestRun run)
    {
        appNavigationManager.State.SetSelectedTestRun(run);
        appNavigationManager.NavigateTo(run);
    }
}
