@using TestBucket.Domain.Features.Traceability.Models
@inject AppNavigationManager appNavigationManager

<div class="tb-traceability-node-link-wrapper" @onclick="OnLinkClickedAsync">
    <MudStack Row AlignItems="AlignItems.Center">
        @if(Node?.Requirement is not null)
        {
            string icon = RequirementIcons.GetIcon(Node.Requirement);
            <MudIcon Icon="@icon"/>
            <MudText>@Node.Requirement.Name</MudText>
            <RequirementStateDot State="Node.Requirement.MappedState" />
        }
        @if (Node?.TestCase is not null)
        {
            string icon = TestIcons.GetIcon(Node.TestCase);
            <MudIcon Icon="@icon" />
            <MudText>@Node.TestCase.Name</MudText>
        }
    </MudStack>
</div>
@code {
    [Parameter] public TraceabilityNode? Node { get; set; }
    [Parameter] public EventCallback<TraceabilityNode> OnClicked { get; set; }

    private async Task OnLinkClickedAsync()
    {
        if (Node is not null)
        {
            await OnClicked.InvokeAsync(Node);
            if (Node.Requirement is not null)
            {
                var url = appNavigationManager.GetUrl(Node.Requirement);
                appNavigationManager.NavigateTo(url + "/Trace");
            }
            else if (Node.TestCase is not null)
            {
                appNavigationManager.NavigateTo(Node.TestCase);
            }
        }
    }
}
