@attribute [Authorize()]
@page "/{TenantId}/Testing/TestSuites/{SuiteId:long}"
@using TestBucket.Components.Tests.Layouts
@using TestBucket.Domain.Requirements.Models
@layout TestingLayout
@inject TestBrowser testBrowser
@inject AppNavigationManager appNavigationManager

<div class="container-fill-2-rows">
    <div></div>
    <MudSplitter Class="container-fill" Bordered="false" Dimension="80" EnableMargin="false">
        <StartContent>
            <TestCaseGrid TestSuiteId="@SuiteId" CompareFolder="false" OnTestCaseClicked="OnTestCaseClicked" />
        </StartContent>
        <EndContent>
            <MudStack Class="pa-2" Style="width: 100%">
                <TestSuiteEditor TestSuite="@_testSuite" />
            </MudStack>
        </EndContent>
    </MudSplitter>
</div>

@code {
    [Parameter] public string TenantId { get; set; } = "";
    [CascadingParameter] public TestProject? Project { get; set; }
    [CascadingParameter] public Team? Team { get; set; }

    [Parameter] public long SuiteId { get; set; }

    private TestSuite? _testSuite = null;

    /// <summary>
    /// Load the test suite when changed
    /// </summary>
    /// <returns></returns>
    protected override async Task OnParametersSetAsync()
    {
        if (_testSuite is null || _testSuite.Id != SuiteId)
        {
            _testSuite = await testBrowser.GetTestSuiteByIdAsync(SuiteId);
        }
    }

    private void OnTestCaseClicked(TestCase testCase)
    {
        appNavigationManager.NavigateTo(testCase);
    }
}
