@page "/about"

<p>
    This project uses several open source projects as listed below.
    Thanks for all the hard work!
</p>

@* MIT *@
<MudLink Href="https://mudblazor.com/">MudBlazor</MudLink>
<MudLink Href="https://github.com/Blazored/LocalStorage">Blazored.LocalStorage</MudLink>
<MudLink Href="https://github.com/danheron/Heron.MudCalendar">Heron.MudCalendar</MudLink>
<MudLink Href="https://github.com/Humanizr/Humanizer">Humanizer</MudLink>
<MudLink Href="https://github.com/ubisoft/NGitLab">NGitLab by Ubisoft</MudLink>
<MudLink Href="https://github.com/mcintyre321/OneOf">OneOf</MudLink>
<MudLink Href="https://github.com/erossini/BlazorMarkdownEditor">BlazorMarkdownEditor</MudLink>
<MudLink Href="https://github.com/octokit/octokit.net">octokit.net</MudLink>
<MudLink Href="https://github.com/Tyrrrz/CliWrap">CliWrap</MudLink>
<MudLink Href="https://github.com/dazinator/DotNet.Glob">DotNet.Glob</MudLink>
<MudLink Href="https://github.com/fcingolani/Slugify">Slugify</MudLink>
<MudLink Href="https://plotly.com/javascript/">Plotly JS</MudLink>
<MudLink Href="https://github.com/martinothamar/Mediator">Mediator.SourceGenerator</MudLink>

@* Apache License, Version 2.0 *@
<MudLink Href="https://github.com/xunit/xunit">xUnit</MudLink>
<MudLink Href="https://github.com/UglyToad/PdfPig/">PdfPig</MudLink>
<MudLink Href="https://www.fluentvalidation.net/">FluentValidation</MudLink>


@* MPL 2*@
<MudLink Href="https://github.com/jsakamoto/Toolbelt.Blazor.HotKeys2">Toolbelt.Blazor.HotKeys2</MudLink>

@* ISC License *@
<MudLink Href="https://d3js.org/">D3</MudLink>

<p>Solar Bold Duotone Vectors and icons by <a href="https://www.svgrepo.com/collection/solar-bold-duotone-icons" target="_blank">SVG Repo</a></p>
<p>File Type Vectors and icons by <a href="https://www.svgrepo.com/collection/file-types/" target="_blank">SVG Repo</a></p>
<p>Icon Sax Duotone Vectors and icons by <a href="https://www.svgrepo.com/collection/iconsax-duotone-filled-icons" target="_blank">SVG Repo</a></p>
