.icon-grid-picker {
    padding: 12px;
}

.icon-grid {
    display: grid; 
    gap: 12px; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) );
}

::deep .icon-grid-item {
    cursor: pointer;
}

::deep .icon-grid-item:hover {
    color: var(--mud-palette-secondary);
}