@typeparam T
@inject DragAndDropService<T> service

<div ondragover="event.preventDefault()"
    @ondrop:stopPropagation="true"
    @ondrop="OnDropEvent">
    @ChildContent
</div>

@code {

    [Parameter] public EventCallback<T> OnDrop { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task OnDropEvent(DragEventArgs e)
    {
        await OnDrop.InvokeAsync(service.Data);
        service.Data = default(T);
    }
}
