@if (Result is not null)
{
    if (!Result.IsValid)
    {
        foreach (var error in Result.Errors)
        {
            if(ForProperty is null || error.PropertyName == ForProperty)
            {
                <div aria-live="assertive" role="alert" class="fluent-validation-error" data-testid="error.ToString()">
                @if (StringLocalizer is not null)
                {
                    <span>@StringLocalizer[error.ToString()]</span>
                }
                else
                {
                    <span>@error.ToString()</span>
                }
                </div>
            }
        }
    }
}


@code {
    [Parameter] public FluentValidation.Results.ValidationResult? Result { get; set; }
    [Parameter] public IStringLocalizer? StringLocalizer { get; set; }
    [Parameter] public string? ForProperty { get; set; }
}