@inject IJSRuntime js

<div id="@_elementId">
    @ChildContent
</div>

@code {
        [Parameter] public RenderFragment? ChildContent { get; set; }

    private string _elementId = "mdt-" + Guid.NewGuid().ToString();

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     string cssSelector = $"#{_elementId} .EasyMDEContainer .editor-preview-full ";
    //     string[] languages = ["csharp", "js", "html", "python"];
    //     await js.InvokeVoidAsync($"renderHljsForLanguages", _elementId, languages);
    //     await base.OnAfterRenderAsync(firstRender);
    // }
}
