@inject IJSRuntime js

<div id="@_elementId">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string _elementId = "mdt-" + Guid.NewGuid().ToString();

}
