@inject NavigationManager navigationManager
@implements IDisposable

<nav class="@CssClass" @onclick="OnClicked">
    @if(Icon is not null)
    {
        <MudIcon Icon="@Icon"/>
    }
    @ChildContent
</nav>

@code {
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? Href { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool? Selected { get; set; }

    public string CssClass
    {
        get
        {
            if(Selected is not null)
            {
                if(Selected == true)
                {
                    return "tb-nav-link active";
                }
                return "tb-nav-link";
            }
            if(currentUrl is not null && Href is not null)
            {
                if (currentUrl.Trim('/').StartsWith(Href.Trim('/')))
                {
                    return "tb-nav-link active";
                }
            }
            return "tb-nav-link";
        }          
    }

    private string? currentUrl;

    private async Task OnClicked()
    {
        if (Href is not null)
        {
            navigationManager.NavigateTo(Href);
        }
        await OnClick.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        currentUrl = navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = navigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}
