.coverage {
    padding: 2px;
    border-radius: 2px;

    background: orange;
    color: darkred;
    margin: 2px;
    margin-right: 5px;
    height: auto;
    
    font-size: 8pt;
}

.coverage.none { 
    background: firebrick;
    color: white;
}

.coverage.c80 { 
    background: yellow;
    color: black;
}

.coverage.c90 { 
    background: green;
    color: white;
}
.coverage.c99 { 
    background: darkgreen;
    color: white;
}

.coverage.c100 { 
  color: black;
  background: linear-gradient(90deg,rgba(89, 212, 120, 1) 0%, rgba(231, 255, 214, 1) 50%, rgba(62, 199, 69, 1) 100%);
  animation: shine 3s infinite;
  background-size: 500%;
  background-position: left;

}
@keyframes shine {
    
  to {
      background-position: right;
      background-size: 1000%;
  }
 
}