
<div style="font-size: 9pt; margin-top: 8px; color: var(--mud-palette-primary-text); text-decoration: none">@ChildContent</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

}
