
<label class="tb-field-header" @attributes="AdditionalAttributes">

    @if(Icon is not null)
    {
        <MudIcon Icon="@Icon"/>
    }

    @ChildContent
</label>

@code {
    [Parameter] public string? Icon { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes { get; set; }

}
