@inherits LayoutComponentBase
@inject IdentityUserAccessor UserAccessor
@layout TestBucket.Components.Layout.MainLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu TenantId="@TenantId" />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    private string? TenantId { get; set; }

    protected override void OnInitialized()
    {
        TenantId = TenantResolver.ResolveTenantIdFromPath(HttpContext.Request.Path);
    }
}