
.diff-container .container-side-by-side-diff,
.diff-container .container-inline-diff {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.state {
    font-weight: bold;
    color: var(--mud-palette-primary);
}

.created {
    font-size: 75%;
}