@using TestBucket.Components.Dialogs
@inject IDialogService dialogService

<div class="tb-icon-picker">
    @if(!string.IsNullOrEmpty(Icon))
    {
        <MudStack Row="true" AlignItems="AlignItems.Center" Style="margin-right: 8px">
            <MudIconButton Size="Size.Large" Icon="@Icon" OnClick="PickAsync"></MudIconButton>
            <MudIconButton Size=Size.Small Color="Color.Error" Icon="@Icons.Material.Filled.Clear" OnClick="ClearAsync"></MudIconButton>
        </MudStack>
    }
    else
    {
        <MudLink OnClick="PickAsync">Browse</MudLink>
    }

</div>


@code {
    [Parameter] public string? Icon { get; set; }
    [Parameter] public EventCallback<string?> IconChanged { get; set; }

    private async Task ClearAsync()
    {
        await IconChanged.InvokeAsync(null);
    }

    public async Task PickAsync()
    {
        var dialog = await dialogService.ShowAsync<IconPickerDialog>(null);
        var result = await dialog.Result;
        if(result?.Data is string icon)
        {
            await IconChanged.InvokeAsync(icon);
        }
    }
}
